---
import Layout from '@layouts/Layout.astro'
import Breadcrumbs from '@components/Breadcrumbs.astro';
const posts = await Astro.glob('./*.md');
---
<Layout>
    <Breadcrumbs />
    <div class="tw-container">
        {posts.map(post => <span>{post.rawContent()}</span>)}
    </div>
</Layout>