<footer class="footer">
    <span>Copyright © 2023 James. All rights reserved.</span>
</footer>

<style lang="scss">
    .footer {
        @apply tw-py-4 tw-w-full tw-text-center;
        @apply tw-text-lg;
        color: #E2E2E2;
        padding: 16px 100px;
        background: #121212;
    }
</style>