<footer class="footer">
    <span>Copyright © 2023 James. All rights reserved.</span>
</footer>

<style lang="scss">
    .footer {
        @apply tw-py-4 tw-w-full tw-text-center;
        @apply tw-text-lg;
        padding: 16px 100px;
        color: var(--text-color);
        background: var(--primary-color);
    }
</style>