<header class="header">
    <div class="logo">James blog</div>
    <ul class="menu">
        <li id="about" class="menu-item">
            <a href="/about/">自我介紹</a>
        </li>
        <li id="article" class="menu-item">
            <a href="/posts/">文章</a>
        </li>
        <li class="menu-item">
            <img id="icon-mode" class="icon-mode" alt="icon-mode">
        </li>
    </ul>
</header>

<script>
    import IconlightMode from '@images/light.svg'
    import IconDarkMode from '@images/dark.svg'

    let mode = 'dark'
    const iconMode = document.querySelector('#icon-mode') as HTMLImageElement;
    if (iconMode) {
        iconMode.src = IconlightMode
        iconMode.addEventListener('click', toggleMode)
    }

    function toggleMode() {
        if (!iconMode) return
        if (mode === 'dark') {
            mode = 'light'
            iconMode.src = IconDarkMode
        } else {
            mode = 'dark'
            iconMode.src = IconlightMode
        }
        document.documentElement.setAttribute('data-theme', mode);
    }
</script>

<style lang="scss">
    .header {
        @apply tw-py-4 tw-text-lg;
        @apply tw-flex;
        padding: 16px 100px;
        color: var(--text-color);
        background: var(--primary-color);
    }

    .logo {
        @apply tw-mr-6;
    }
    .menu {
        @apply tw-flex tw-items-center;
        .menu-item {
            @apply tw-mr-6;
            @apply tw-cursor-pointer;
            &:hover {
                @apply tw-underline;
            }
            &:last-child {
                @apply tw-mr-0;
            }
        }
    }

    .icon-mode {
        @apply tw-w-5;
        @apply tw-h-5;
    }
</style>